body {

    background-image: url("shopBg.jpg");
    background-size: cover;
    background-repeat: none;
}
.login {

    background-color: white;
    border-radius: 5px;
    margin: 2rem;
    padding: 2rem;
    height: 500px;
    width: 350px;
    text-align: center;
    box-shadow: 5px 5px ghostwhite;
}
